<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="../controller/control_producto.php">
        <input type="text" name="id_producto" placeholder="id_producto">
        <input type="text" name="nombre" placeholder="nombre">
        <input type="text" name="descripcion" placeholder="descrip">
        <input type="text" name="marca" placeholder="marca">
        <input type="text" name="stock" placeholder="stock">
        <input type="text" name="precio" placeholder="precio">
        <input type="text" name="categoria" placeholder="categoria">
        <input type="text" name="proveedor" placeholder="provedor">

        <input type="submit" name="guardar" id="guardar" value="guardar">
    </form>
</body>
</html>
